.top-scroll-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .top-scroll-text {
      transform: rotate(90deg);
      opacity: 1;
      white-space: nowrap;
      font-size: 0.8rem;
      letter-spacing: 0.2em;
      margin-bottom: 30px;
      color: black;
    }

    .top-scroll-line {
      width: 1px;
      height: 80px;
      background-color: #343434;
      overflow: hidden;

      .top-scroll-line-in {
        width: 1px;
        height: 100%;
        background-color: white;
        animation: pulseY infinite 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  @keyframes pulseY {
    from {
      transform: translateY(-100px);
    }

    to {
      transform: translateY(100px);
    }
  }