.bio {
        margin: 5vh auto 5vh;
        width: 90%;
        min-height: 100vh;
        position: relative;
        z-index: 1;
      
        @media(min-width: 768px) {
          width: 60%;
      }

      h2 {
        margin-top: 2rem;
        font-size: clamp(2rem, 5vw, 6rem);
        letter-spacing: 2px;
        color: white;
      }

      
      h4 {
        margin-top: 1rem;
        font-size: clamp(1.4rem, 2vw, 3rem);
        color: white;
        text-align: center;
        letter-spacing: 1px;
    }

    h3 {
      padding: 2rem 0;
      font-size: clamp(2rem, 3vw, 4rem);
      color: #ffa900;
      text-transform: uppercase;
    }

      img {
        width: 60%;
        height: auto;   
        
        @media(min-width: 768px) {
          width: 40%;
      }
    }

    &>.adress {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &>p {
        margin: 0;
        padding: 1rem 0.5rem;
        align-self: flex-start;
      }

      a {
        color: #ff6e40;
        padding: 1rem 0.5rem;
        list-style: none;
        border: 1px solid white;
        text-align: left;
  
      &:hover {
        cursor: pointer;
        background-color: #ff6e40;
        color: white;
      }
      }

    }

    ul {
      margin: 1.5rem 0;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;

      &:last-of-type {
        margin-bottom: 10rem;
      }

      li {
        padding: 1rem 0.5rem;
        list-style: none;
        color: white;
      }

      li > a {
        color: #ff6e40;
        padding: 1rem 0.5rem;
        list-style: none;
        border: 1px solid white;

      &:hover {
        cursor: pointer;
        background-color: #ff6e40;
        color: white;
      }
      }
    }

    p {
        margin: 2rem auto 0;
        padding: 0.25rem 0.5rem;
        color: rgba(255, 255, 255, 0.987);
        font-size: clamp(1rem, 1.5vw, 1.6rem);
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.5;
        text-shadow: 1px 1px black;
        text-align: left;

        :last-of-type {
            margin-bottom: 10vh;
        }
    }
}