@use '../../styles/base/' as *;
.teachers_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 8vh;

  @media (min-width: 768px) {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  }

  /*  &::before {
    animation: grain 12s steps(40) infinite;
    background-image: url('/public/img/paperpattern.png');
    content: '';
    height: 200%;
    left: -20%;
    opacity: 0.3;
    position: fixed;
    top: -50%;
    width: 200%;
    z-index: 1;

    @media (max-width: 768px) {
      position: absolute;
      max-width: 100vw;
      top: 40%;
      left: 0;
    }
  } */

  .teachers_title {
    position: relative;
    line-height: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.225));
    text-transform: uppercase;
    width: 0%;
    font-size: $font-size-xxl;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;

    @media (min-width: 768px) {
      font-size: $font-size-xxxl;
    }
  }

  p {
    margin: 0 auto;
    font-size: $font-size-m;
    font-family: $font-base;
  }

  .teachers_images {
  width: 100%;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr; // Single column for mobile
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: flex-end;
  height: 250vh;
  margin: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    height: 50vh;
  }
  }

  /* .img_1 {
    position: relative;
    overflow: hidden;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.534))
      drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.171)) grayscale(1)
      brightness(70%);
    transition: all 0.4s ease-in-out;
    height: 50vh;
   

    @media (min-width: 768px) {
      position: relative;
      width: 100%;
      height: 50vh;
    }

    > img {
      transition: all 0.4s ease-in-out;
      object-fit: cover;
      object-position: center;
    }

    &:hover {
      filter: grayscale(0.25);
      cursor: pointer;

      > img {
        transform: translateY(-4px);
      }
    }
    > a {
      position: absolute;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  } */
}

  /* .img_2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.534))
      drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.171)) grayscale(1)
      brightness(70%);
    transition: all 0.4s ease-in-out;
    object-fit: cover;

    > img {
      transition: all 0.4s ease-in-out;
      object-fit: cover;
      object-position: 10% 20%;
      transform: scale(1);
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 35vh;
      left: auto;
      right: 0;
    }

    &:hover {
      filter: grayscale(0.25);
      cursor: pointer;

      > img {
        transform: translateY(-4px);
      }
    }

    > a {
      position: absolute;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .img_3 {
    position: relative;
    overflow: hidden;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.534))
      drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.171)) grayscale(1)
      brightness(70%);
    transition: all 0.4s ease-in-out;
    object-fit: cover;

    @media (min-width: 768px) {
      position: absolute;
      top: auto;
      left: 15vw;
      right: auto;
      bottom: 0;
    }

    &:hover {
      filter: grayscale(0.25);
      cursor: pointer;
      transform: translateY(-4px);
    }
    > a {
      position: absolute;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .img_4 {
    position: relative;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.534))
      drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.171)) grayscale(1)
      brightness(70%);
    transition: all 0.4s ease-in-out;
    object-fit: cover;

    &:hover {
      filter: grayscale(0.25);
      cursor: pointer;
      transform: translateY(-4px);
    }
    @media (min-width: 768px) {
      position: absolute;
      right: 37vw;
      left: auto;
      bottom: 0;
      top: 35vh;
    }

    > a {
      position: absolute;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .img_5 {
    position: relative;
    overflow: hidden;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.534))
      drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.171)) grayscale(1)
      brightness(70%);
    transition: all 0.4s ease-in-out;

    @media (min-width: 768px) {
      position: absolute;
      right: 17.5vw;
      left: auto;
      bottom: 0;
      top: 35vh;
    }

    &:hover {
      filter: grayscale(0.25);
      cursor: pointer;
      transform: translateY(-4px);
    }
    > a {
      position: absolute;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
} */

.tooltip_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr; // Single column for mobile
    grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: flex-end;
  height: 250vh;
  margin: 0;

  @media (min-width: 768px) {   
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    height: 50vh;
  }
}

.grid_item {
  position: relative;
  width: 100%;
  margin-top: 15vh;
  height: 10vh;
  padding: 1rem 0;
  background-color: transparent;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  z-index: 5;

  @media (min-width: 768px) {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 1rem 0;
  }
}
/* 
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
*/