.hero {
  position: relative;
  margin-top: 0vh;
  margin-bottom: 10vh;
  padding: 4rem 0 0;
  width: 100%;
  min-height: 100vh;

  z-index: 1;
  font-family: inherit;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 20vh;
  }
}

.text {
  width: 100%;
  position: absolute;
  top: 0vh;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  color: #fff;
  text-shadow: 1px 1px black;
  z-index: 10;

  @media (min-width: 768px) {
    width: 80%;
    top: 25vh;
    left: 25vw;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.hero_subtitle {
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  z-index: 100;
}

.hero_subtitle::before {
  display: inline-block;
  content: '';
  border: 1px solid #fff;
  width: 2rem;
  margin: 0 10px 0 0;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.hero_title {
  position: relative;
  font-family: inherit;
  text-shadow: 1px 1px black, 10px 10px 10px rgba(0, 0, 0, 0.225);
  font-size: clamp(4rem, 6vw, 10rem);
  line-height: 1;
  text-transform: uppercase;
  width: 0%;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;

  @media (min-width: 980px) {
  }
}

.desc {
  position: relative;
  margin: 0vh auto 0;
  padding: 0.25rem 1rem;
  max-width: 85vw;
  color: rgb(255, 255, 255);
  font-size: clamp(0.75rem, 1vw, 1rem);
  letter-spacing: 1px;
  line-height: 1.2;
  text-shadow: 1px 1px black, 10px 10px 10px rgba(0, 0, 0, 0.225);
  z-index: 100;

  @media(min-width: 600px) {
    max-width: 60vw;
  }

  @media (min-width: 960px) {
    position: absolute;
    top: 53vh;
    right: 2vw;
    left: auto;
    text-align: left;
    max-width: 400px;
    width: 80%;
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.911);
    text-shadow: 1px 1px rgb(0, 0, 0), 10px 10px 10px rgba(34, 34, 34, 0.225);
  }

  @media (min-width: 1200px) {
    max-width: 500px;
    width: 100%;
  }
}

.img_1 {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  overflow: hidden;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);

  @media screen and (min-width: 768px) {
    top: 45vh;
    left: 40vw;
    object-fit: contain;
    transform: translate(-50%);
  }
}

.img_2 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  bottom: auto;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);

  @media (min-width: 768px) {
    top: 10svh;
    left: 5svw;
    right: auto;
  }
}

.img_3 {
  position: absolute;
  top: 35vh;
  left: -5vw;
  z-index: 10;
  bottom: auto;
  overflow: hidden;
  box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);

  @media (min-width: 768px) {
    right: 2rem;
    left: auto;
    top: 60vh;
  }
}

.img_4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
}

.img_5 {
  position: absolute;
  top: auto;
  left: 5vw;
  z-index: 20;
  bottom: 0;
  overflow: hidden;
  box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
  object-fit: cover;
  object-position: center top;

  @media (min-width: 768px) {
    left: 2rem;
    bottom: 10vh;
    top: auto;
  }
}

.readmore {
  width: 100%;
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0rem;
  z-index: 100;
  display: grid;
  place-content: center;
  color: #eeecec;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: 700;

  .icon {
    position: absolute;
    left: 35svw;
    bottom: 10vh;
    font-size: 3rem;
    color: #e3e3e3;
    z-index: 100;

    @media (min-width: 768px) {
      right: 5rem;
      top: 60vh;
    }
  }
}
