@use '../../styles/base/' as *;
.hero {
  position: relative;
  margin-top: 0vh;
  margin-bottom: 10vh;
  padding: 4rem 0 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 20vh;
  }
}

.hero_btn_wrapper {
  width: 100%;
  position: absolute;
  bottom: 10vh;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: $font-base;

  @media (min-width: 768px) {
    width: fit-content;
    top: 15vh;
    left: auto;
    justify-content: unset;
    align-items: unset;
    display: flex;
    right: 8.25vw;
  }

  .link {
    position: relative;
    width: fit-content;
    width: 160px;
    height: fit-content;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    color: $color-white;
    background-color: $color-card-bg;
    border: 1px solid $color-2;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: $color-2;
      border: 1px solid $color-1;
      color: white;
    }
  }
}

.hero_subtitle {
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  z-index: 100;
  font-family: $font-base;
  color: $color-3;
  pointer-events: none;
}

.hero_subtitle::before {
  display: inline-block;
  content: '';
  border: 1px solid #fff;
  width: 2rem;
  margin: 0 10px 0 0;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.hero_title {
  position: relative;
  line-height: 1;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.225));
  text-transform: uppercase;
  width: 0%;
  font-size: $font-size-xxxl;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;

  @media (min-width: 980px) {
  }
}

.desc {
  position: relative;
  margin: 0vh auto 0;
  padding: 0.25rem 1rem;
  max-width: 85vw;
  color: rgb(255, 255, 255);
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-family: $font-base;
  letter-spacing: 1px;
  line-height: 1.2;
  text-shadow: 1px 1px black, 10px 10px 10px rgba(0, 0, 0, 0.225);
  z-index: 100;
  pointer-events: none;

  @media (min-width: 600px) {
    max-width: 60vw;
  }

  @media (min-width: 960px) {
    position: absolute;
    top: 53vh;
    right: 2vw;
    left: auto;
    text-align: left;
    max-width: 400px;
    width: 80%;
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.911);
    text-shadow: 1px 1px rgb(0, 0, 0), 10px 10px 10px rgba(34, 34, 34, 0.225);
  }

  @media (min-width: 1200px) {
    max-width: 500px;
    width: 100%;
  }
}

.img_1 {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: auto;
  right: 0;
  overflow: hidden;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
  width: 60vw;
  height: 40vh;
  opacity: 1;
  z-index: 20;

  > img {
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    object-position: top center;
  }

  @media screen and (min-width: 768px) {
    top: auto;
    left: 45vw;
    bottom: 0;
    right: auto;
    transform: translate(-50%);
    width: 30vw;
    height: 50vh;
  }

  &:hover {
    filter: grayscale(0.25);
    cursor: pointer;
    /*   border: 1px solid #888; */

    > img {
      transform: scale(1.1);
     
    }
  }
  > a {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img_2 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  bottom: auto;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
   width: 50vw;
  height: 40vh;

  > img {
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    object-position: top center;
  }

  @media (min-width: 768px) {
    top: 0svh;
    left: 0vw;
    right: auto;
    width: 30vw;
    height: 50vh;
  }

  &:hover {
    filter: grayscale(0.25);
    cursor: pointer;
    > img {
      transform: scale(1.1);
    }
  }

  > a {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img_3 {
  position: absolute;
  width: 50svw;
  height: 30svh;
  top: 35vh;
  left: -5vw;
  z-index: 10;
  bottom: auto;
  overflow: hidden;
  box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;

  @media (min-width: 768px) {
    right: 0;
    left: auto;
    top: 60vh;
    bottom: 0;
    width: 40vw;
    height: 40vh;
  }

  > img {
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    object-position: top center;
  }

  &:hover {
    filter: grayscale(0.25);
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.534),
      30px 30px 30px rgba(0, 0, 0, 0.171);
  }
  > a {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img_4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.534),
    20px 20px 20px rgba(0, 0, 0, 0.171);
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
  width: 100vw;
  height: 100svh;

  &:hover {
    filter: grayscale(0.25);
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.534),
      30px 30px 30px rgba(0, 0, 0, 0.171);
  }
  > a {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > img {
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    object-position: 60% 20%;
  }
}

.img_5 {
  position: absolute;
  top: auto;
  left: -5vw;
  z-index: 30;
  bottom: 0vh;
  overflow: hidden;
  box-shadow: 0 10px 10px -3px #00000057, -5px 0 5px -5px #00000030;
  filter: grayscale(1);
 width: 60svw;
 height: 40svh;
  transition: all 0.4s ease-in-out;

  >img {
    object-fit: cover;
    object-position: center top;
  }

  @media (min-width: 768px) {
    left: 0;
    bottom: 5vh;
    top: auto;
    height: 55vh;
    width: 30svw;
  }

  &:hover {
    filter: grayscale(0.25);
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.534),
      30px 30px 30px rgba(0, 0, 0, 0.171);
  }
  > a {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.822));

  a {
    text-decoration: none;
    font-size: 3rem;
    color: #e3e3e3;

    > svg {
      stroke-width: 1px;
      stroke: rgb(32, 32, 32);
      fill: rgb(255, 255, 255);
      animation: anim 3000ms ease-in-out infinite forwards;
    }
  }

  @media (min-width: 768px) {
    right: 5rem;
    top: 87.25vh;
  }
}

@keyframes anim {
  0% {
    fill: #f0f0f0;
    stroke: #242424;
  }
  50% {
    fill: #ffffff;
    stroke: #121212;
    transform: translateY(-2px);
  }
  100% {
    fill: #f0f0f0;
    stroke: #242424;
  }
}
