@use '../../styles/base/' as *;
.image-reveal {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: 5px;

  @media (min-width: 768px) {
    height: 100%;
  } 

  h2 {
    position: relative;
    padding: 1rem 0;
    transform: rotate(0deg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size-xl;
    font-weight: 800;
    z-index: 10;
    text-transform: uppercase;
    background: transparent;
    color: $color-white;
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, $color-1); */
  }
  .container {
    overflow: hidden;
    position: relative;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    border-radius: 5px;

    .overlay {
      position: absolute;
      content: '';
      z-index: 2;
      width: 100%;
      height: 100%;
      background: $color-bg;
      top: 0;
      right: 0;
      overflow: hidden;
      border-radius: 5px;

     > p {
        width: 100%;
        white-space: nowrap;
        text-shadow: 2px 2px 1px rgb(0, 0, 0);
        font-size: clamp(10rem, 5vw, 15rem);
        font-weight: 800;
      }
    }
  }
}

.image-container {
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  @media (min-width: 768px) {
    width: 50vw;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;

    @media (min-width: 492px) {
      object-fit: contain;
    }
  }
}
