.footer {
  padding: 0.5rem 0;
    position: relative;
    width: 100%;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>a {
      padding: 0.5rem 2rem;
      color: #ff6e40;
      border: 1px solid #888;
    }

    .border_bottom {
        position: absolute;
        top: 6vh;
        width: 0%;
        z-index: 1;
        border-color: rgba(255,255,255, .2);
        border-width: .5px;
      }
}