@use '../../styles/base/' as *;
.nav_item {
  height: unset;
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    display: grid;
    place-content: center;
    height: 100%;
    width: 8rem;
    padding: 0 1rem;
  }

  &:last-of-type {
    @media screen and (min-width: 768px) {
      margin-right: 2rem;
    }
  }

  .nav_link {
    margin: 0;
    padding: 0.5rem 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $font-headline;
    font-size: $font-size-xl;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.768);

    @media (min-width: 768px) {
      padding: 0.5rem 1rem;
      font-size: $font-size-l;
    }

    /* want a solid background, just uncomment background color,  testing different ways to do hover effects on nav  */
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 100%;
      background-color: $color-1;
      z-index: -1;
      transition: width 0.25s ease-out;
      border-radius: 5px;
    }
  }

  &:hover,
  &:active {
    .nav_link {
      color: black;
      z-index: 10;
    }
    .nav_link::after {
      width: 100%;
      right: auto;
      left: 0;
      cursor: pointer;
      transition: width 0.4s ease-in-out;
    }
  }
}
