// colors client
$color-1:#FDFDFD;
$color-2: #fdda7d;
$color-3: #324248;
$color-4: #ced9bf;

$color-black: #000;
$color-white: #fff;

$color-bg: #95999e;

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #61505A;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;

$txt-shadow: 1px 1px black, 10px 10px 10px rgba(0,0,0,.225);
