// colors client
$color-1:#ee4e34;
$color-2: #ddc6b6;
$color-3: #151515;
$color-4: #533549;

$color-black: #000;
$color-white: #fff;
$color-bg: #fcedda;

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #61505A;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;

$txt-shadow: 1px 1px black, 10px 10px 10px rgba(0,0,0,.225);
